* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Primary  Colors */
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients Background */
  --l-slate-blue: hsl(252, 100%, 67%);
  --l-royal-blue: hsl(241, 81%, 54%);

  /* Circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue:  hsla(241, 72%, 46%, 0);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --d-gray-blue:  hsl(224, 30%, 27%);

  /* Fonts */
  --sm-weight: 500;
  --md-weight: 700;
  --lg-weight: 800;
}

body {
  min-height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* Results Div */

.results-div {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 100%;
  padding: 3.5em 2em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
}

.results-title {
  color:var(--light-lavender);
  font-weight: var(--lg-weight);
  position: relative;
  bottom: 45px;
}

.results-score {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0) );
  border-radius: 50%;
  position: relative;
  bottom: 20px;
  padding: 2em 0;
  margin: 0 5em;
  color:var(--light-lavender);
}

.bold {
  font-size: 2.5rem;
  font-weight: var(--lg-weight);
  color: var(--white);
}

.results-great {
  color:var(--white);
  font-weight: var(--md-weight);
  font-size: 2rem;
}

.results-desc {
  color:var(--light-lavender);
  font-weight: var(--md-weight);
  position: relative;
  top: 20px;
}

/* SUmmary Div */

.summary-div {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-bottom: 2em;
}

.summary-title {
  color: var(--d-gray-blue);
  font-weight: var(--lg-weight);
  margin-top: 1em;
  margin-bottom: 1.25em;
}


.reaction-summary {
  background-color: hsla(0, 100%, 67%, 0.2);
}

.reaction-title {
  color: var(--light-red);
  font-weight: var(--md-weight);
}

.number {
  color: hsla(224, 30%, 27%, 0.6);
  font-weight: var(--md-weight);
  margin-left: 7em;
}
.verbal-num {
 position: relative;
 left: 15px;
}
.visual-num {
  position: relative;
  left: 22px;
}
.num-bold {
  color: var(--d-gray-blue);
}

.title {
  margin-left: 0.5em;
}

.memory-summary {
  background-color: hsla(39, 100%, 56%, 0.2);
}
.memory-title {
  color: var(--orange-yellow);
  font-weight: var(--md-weight);
}

.verbal-summary {
  background-color: hsla(166, 100%, 37%, 0.2);
}
.verbal-title {
  color: var(--green-teal);
  font-weight: var(--md-weight);
}

.visual-summary {
  background-color: hsla(234, 85%, 45%, 0.2);
}
.visual-title {
  color: var(--cobalt-blue);
  font-weight: var(--md-weight);
}

.bubble {
  border-radius: 10px;
  margin-top: 1em;
  display: flex;
  padding: 1em;
}


.continue-btn {
  background-color: var(--d-gray-blue);
  color: var(--white);
  padding: 1.5em 5em;
  margin-top: 2em;
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--d-gray-blue);
  font-weight: var(--md-weight);
}
/* Author Div */
.attribution 
{ font-size: 11px; text-align: center;  margin-top: 5em;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 700px) {
  .card {
    display: flex;
    flex-direction: row;
  }

  .results-div {
    border-radius: 10px;
  }

  .summary-div {
    border-radius: 10px;
  }
}