* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Primary  Colors */
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients Background */
  --l-slate-blue: hsl(252, 100%, 67%);
  --l-royal-blue: hsl(241, 81%, 54%);

  /* Circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue:  hsla(241, 72%, 46%, 0);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --d-gray-blue:  hsl(224, 30%, 27%);

  /* Fonts */
  --sm-weight: 500;
  --md-weight: 700;
  --lg-weight: 800;
}

body {
  min-height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-div {
  background-color: var(--l-slate-blue);
  width: 100%;
  padding: 3.5em 2em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
}

.results-title {
  color:var(--light-lavender);
  font-weight: var(--lg-weight);
  position: relative;
  bottom: 45px;
}

.results-score {
  background-color: var(--violet-blue);
  border-radius: 50%;
  position: relative;
  bottom: 20px;
  padding: 2em 0;
  margin: 0 5em;
  color:var(--light-lavender);
}

.bold {
  font-size: 2.5rem;
  font-weight: var(--lg-weight);
  color: var(--white);
}

.results-great {
  color:var(--white);
  font-weight: var(--md-weight);
  font-size: 2rem;
}

.results-desc {
  color:var(--light-lavender);
  font-weight: var(--md-weight);
  position: relative;
  top: 20px;
}









/* Author Div */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }